ipython
isort
numpy
pandas
bokeh
jupyter
matplotlib
opencv-python
simplejson
flake8
importmagic
autopep8
autoflake
yapf
hy
rope
jedi
json-rpc #if use python-jsonrpc-server,need remove this
#python-jsonrpc-server #python-language-server need
service_factory
imutils
ansible
python-language-server[all]
