ipython
isort
epc
numpy
pandas
bokeh
jupyter
matplotlib
opencv-python
pyls-mypy
pyls-black
rope
pyflakes
mccabe
pycodestyle
pydocstyle
autopep8
yapf
simplejson
importmagic
yapf
imutils
ansible
ptvsd>=4.2
flake8
